nav{
    padding:0px;
    margin:0px;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
}

ul{
    list-style-type:none;
}

li{
    float:left;
}

li a{
    display:block;
    color:white;
    text-align: center;
    padding:12px;
}

li a:hover{
    background-color: rgb(38, 37, 37);
}
