<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2571c107165f0ab75652a90a415f8163cff5cd82
body{
    margin: 0px;
}
nav{
    padding:0px 0px;
    margin:0px 0px 0px 0px;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    position:fixed;
    width: 100%;
<<<<<<< HEAD
=======
nav{
    padding:0px;
    margin:0px;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
>>>>>>> 51eab6f3b0fcefc7715297316e94476bb47fd538
=======
>>>>>>> 2571c107165f0ab75652a90a415f8163cff5cd82
}

ul{
    list-style-type:none;
<<<<<<< HEAD
<<<<<<< HEAD
    margin: 0px;
    padding: 0px;
    
=======
>>>>>>> 51eab6f3b0fcefc7715297316e94476bb47fd538
=======
    margin: 0px;
    padding: 0px;
    
>>>>>>> 2571c107165f0ab75652a90a415f8163cff5cd82
}

li{
    float:left;
}

li a{
    display:block;
    color:white;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2571c107165f0ab75652a90a415f8163cff5cd82
    text-align: justify;
    padding:12px;
    font-size: 25px;
    text-decoration: none;

<<<<<<< HEAD
=======
    text-align: center;
    padding:12px;
>>>>>>> 51eab6f3b0fcefc7715297316e94476bb47fd538
=======
>>>>>>> 2571c107165f0ab75652a90a415f8163cff5cd82
}

li a:hover{
    background-color: rgb(38, 37, 37);
}
